<!--<div class="headbar">
	<div class="position"><span>工具</span><span>></span><span>活动管理</span><span>></span><span>活动列表</span></div>
	<div class="operating">
		<a href="javascript:void(0)" onclick="event_link('{url:/tools/activity_edit}')"><button class="operating_btn" type="button"><span class="addition">添加活动</span></button></a>
		<a href="javascript:void(0)" onclick="selectAll('id[]');"><button class="operating_btn" type="button"><span class="sel_all">全选</span></button></a>
		<a href="javascript:void(0)" onclick="delModel();"><button class="operating_btn" type="button"><span class="delete">批量删除</span></button></a>
	</div>
</div>-->
<div class="content">
	<form action="{url:/tools/activity_del}" method="post" name="activity">
		<table class="list_table">
			<colgroup>
				<col  />
				<col  />
				<col />
				<col width="150px" />
			</colgroup>

			<thead>
				<tr>
					<th>姓名</th>
					<th>电话</th>
					<th>微信</th>
					<th>留言</th>
				</tr>
			</thead>

			<tbody>
				{set:$page= (isset($_GET['page'])&&(intval($_GET['page'])>0))?intval($_GET['page']):1;}
				{query: name=activity as ar page=$page fields=ar.title,ar.content_mobile,ar.description,ar.content}
				<tr>
					<!--<td><input type="checkbox" name="id[]" value="{$item['id']}" /></td>-->
					<td>{$item['title']}</td>
					<td>{$item['content_mobile']}</td>
					<td>{$item['description']}</td>
					<td>{$item['content']}</td>
				</tr>
				{/query}
			</tbody>
		</table>
	</form>
</div>
{$query->getPageBar()}
