<div class="bg-white p-10 pt-20">

	<div class="form">
		<form action="{url:/simple/find_password_email_or_mobi}" method="post" id="mailWay">
			<input type="hidden" name='callback'/>
			<ul>
				<li class="pb-10">
					<div class="input-group input-style">
						<div class="input-group-addon font-sm"><span>手机号/邮箱</span></div>
						<input class="form-control input-sm" type="text" name='email' pattern='required' alt="填写邮箱或者手机号" placeholder="填写邮箱或者手机号"/>
					</div>
				</li>

				<li class="row pb-10">
					<div class="col-xs-8">
						<div class="input-group input-style">
							<div class="input-group-addon font-sm"><span>验证码</span></div>
							<input type='text' class="form-control input-sm" initmsg="输入正确" name='captcha' pattern='^\w{5,10}$' alt='填写右边的验证码' placeholder="点图片更换"/>
						</div>
					</div>

					<div class="col-xs-4">
						<a href="javascript:changeCaptcha('{url:/simple/getCaptcha}');" class="show thumbnail mb-0">
							<img src='{url:/simple/getCaptcha}' id='captchaImg' />
						</a>
					</div>
				</li>

				<li class="pb-10">
					<button type="submit" class='btn btn-block btn-primary'>找回密码</button>
				</li>
			</ul>
		</form>
	</div>
</div>

