<div class="bg-white p-10 pt-20">
	<div class="form">
		<form action="{url:/simple/find_password_mobile}" method="post" id="mobileWay">
			<ul>
				<li class="row pb-10">
					<div class="col-xs-8">
						<div class="input-group input-style">
							<div class="input-group-addon font-sm"><span>手机号</span></div>
							<input class="form-control input-sm" type="hidden" name="mobile" value="{echo: base64_decode($_GET['mobile']);}">
							<input class="form-control input-sm" name="mobile_show"  type="text" disabled="disabled" value="{echo: base64_decode($_GET['mobile']);}" />
						</div>
					</div>
					<div class="col-xs-4">
						<span id="send_message_link" class="font-sm show pt-10"><a href="javascript:sendMessage();">发送手机验证码</a></span>
					</div>

				</li>

				<li class="pb-10">
					<div class="input-group input-style">
						<div class="input-group-addon font-sm"><span>短信验证码</span></div>
						<input class="form-control input-sm" name="mobile_code"  type="text" pattern='^\d{6}$' alt="请输入6位短信验证码" />
					</div>
				</li>

				<li class="pb-10">
					<button type="submit" class='btn btn-block btn-warning'>找回密码</button>
				</li>
			</ul>
		</form>
	</div>
</div>

<script language="javascript">

$(document).ready(function(){
	sendMessage();
});

//倒数显示
function countSecond()
{
	var seconds = parseInt($('#seconds').text());
	if (seconds > 0)
	{
		$('#seconds').text(--seconds);
		//继续倒数
		setTimeout('countSecond()', 1000);
	}
	else
	{
		//倒数完成
		$('#send_message_link').removeClass('text-muted').html('<a href="javascript:sendMessage();">再次发送验证码</a>');
	}
}

//发送短信码
function sendMessage()
{
	//样式调整 隐藏发送链接
	$('#send_message_link').addClass('text-muted').html('<em id="seconds">120</em>秒重新发送');
	//倒数
	countSecond();

	var mobile = $('#mobileWay [name="mobile"]').val();
	$.get("{url:/simple/send_message_mobile}",{"mobile":mobile},function(content){
		switch(content)
		{
			case 'success':
				alert('发送成功，请查看您的手机');
				break;
			case 'notfound':
				confirm('此手机号不存在，请返回重试');
				window.location.href = '/simple/find_password';
				break;
			case 'fail':
				confirm('手机号找回密码方式已关闭，请通过其他方式或联系客服找回');
				window.location.href = '/simple/find_password';
				break;
			case 'tooshort':
				alert('发送短信验证码间隔过短，请稍后重试');
				break;
		}
	});
}
</script>