<!--抢购正常-->
{set:$free_time = ITime::getDiffSec($time['end_time']);}
<div class="text">
	抢购价：<b class="price red2">￥{$time['award_value']}</b>
</div>
<div class="text" id="timeCount">
	还剩 <i class="bold red2" id='cd_hour_timeCount'>{echo:floor($free_time/3600);}</i>
	小时<i class="bold red2" id='cd_minute_timeCount'>{echo:floor(($free_time%3600)/60);}</i>
	分<i class="bold red2" id='cd_second_timeCount'>{echo:$free_time%60;}</i>
	秒结束
</div>
<div class="text">
	销售价：<span class="price light_gray">￥<s class="f30" id="data_sellPrice">{$sell_price}</s></span>
</div>

<script type="text/javascript">
//开启倒计时功能
var cd_timer = new countdown();
cd_timer.add('timeCount');
</script>