
<div class="bg-white p-10">
	<div class="p-10">
		<form action="{url:/ucenter/password_edit}" method="post">
			<ul class="list-unstyled">
				<li class="mb-10">
					<div class="input-group input-style">
						<div class="input-group-addon font-sm"><span>当前密码</span></div>
						<input type='password' name="fpassword" class="form-control input-sm" pattern="^\S{6,32}$" alt='填写6-32个字符的密码' placeholder="输入当前密码">
					</div>
				</li>
				<li class="mb-10">
					<div class="input-group input-style">
						<div class="input-group-addon font-sm"><span>新的密码</span></div>
						<input type='password' name="password" class="form-control input-sm" bind="repassword" pattern="^\S{6,32}$" alt='填写6-32个字符的密码' placeholder="你想要的新密码">
					</div>
				</li>
				<li class="mb-10">
					<div class="input-group input-style">
						<div class="input-group-addon font-sm"><span>确认密码</span></div>
						<input type='password' name="repassword" class="form-control input-sm" bind="password" pattern="^\S{6,32}$" alt='填写6-32个字符的密码' placeholder="请再次输入新密码">
					</div>
				</li>
			</ul>
			<button type="submit" class="btn btn-warning btn-block">确定修改</button>
		</form>
	</div>
</div>
