{set:$user_id = $this->user['user_id']}
{set:$member_info = Api::run('getMemberInfo',$user_id)}
{if:$member_info['prop']!=''}
{set:$ids=trim($member_info['prop'],',')}
{/if}
<section>
	<div class="pending-detial">


	<div class="panel panel-default">
		  <div class="panel-heading">
				<h3 class="panel-title">我的团队</h3>
		  </div>
		  {if: $this->team_users_arr}
		{foreach: items = $this->team_users_arr}
		{set:$group_name = $item['info']['group_id']?$this->user_group_arr[$item['info']['group_id']]:'无'}
		  <div class="panel-body">
				用户名:{$item['username']}
				当前等级:{$item['group_name']}
				累计消费:{$item['info']['total_consume']}
		  </div>

		  {/foreach}
	{else:}
			  <div class="panel-body text-center">
				暂无队员
		  </div>
		{/if}
	</div>


		
	</div>
</section>