<style>
	.search .btn
	{
		padding-left: 5px;
	}
	.cancel_direct_bill
	{
		width: 50%;
	}
	.cancel_direct_bill tr th,.cancel_direct_bill tr td
	{
		padding: 10px 0;
		border:1px solid #eee;
	}
</style>
<div class="headbar">
	<div class="position"><span>系统</span><span>></span><span>第三方平台</span><span>></span><span>取消直付通订单</span></div>
	<div class="operating">
		<div class="search f_l">
			<form name="addorder" action="{url:/system/cancel_direct_bill_order}" method="get">
				订单号：
				<input class="normal" name="orderno" type="text" value="" required>
				<button class="btn" type="submit"><span class="sch">搜索</span></button>
			</form>
		</div>
	</div>
	<p>
	<table class="cancel_direct_bill">
		<tr>
			<th>退款单号</th>
			<th>退款金额</th>
			<th>操作</th>
		</tr>
		{set:$itm = $this->orderList}
		{foreach:items = $itm key=$k item=$v}
		<tr>
			<td align="center">{$v['order_no']}</td>
			<td align="center">{$v['order_amount']}</td>
			<td align="center"><a href="javascript:reFund('{$v['order_no']}','{$v['rand_str']}')">退款</a></td>
		</tr>
		{/foreach}
	</table>
	</p>
</div>
<script>
    function reFund(order_no,rand_str)
    {
        $.getJSON("{url:/system/cancel_direct_bill_order}",{order_no:order_no,rand_str:rand_str,method:'ajax'},function(data)
        {
            if(data.errcode)
                alert(data.errmsg);
            else
                window.location.reload();
        });
    }
</script>