<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>选择自提点</title>
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
	{js:jquery}
	<!-- {js:dialog} -->
	{js:artTemplate}
	<style type="text/css">
		select.form-control { margin-bottom:5px;}
		.f-12 {font-size: 12px;}
		p {margin-bottom: 5px;}
		.mb-0 {margin-bottom: 0}
	</style>
</head>

<body>
	<div class="container-fluid" style="padding-top:10px">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<div class="form-group">
					<label>选择地区</label>

					<select class="form-control" name="province" onchange="getData('province');">
						<option value="">请选择省份</option>
						{query:name=takeself as ts join=left join areas as a on a.area_id eq ts.province fields=a.* order=ts.sort asc group=ts.province}
						<option value="{$item['area_id']}">{$item['area_name']}</option>
						{/query}
					</select>

					<select class="form-control" name="city" onchange="getData('city');">
						<option value="">请选择城市</option>
					</select>

					<select class="form-control" name="area" onchange="getData('area');">
						<option value="">请选择区域</option>
					</select>
				</div>

				<div class="form-group form-group-sm" id="takeselfBox">
					
				</div>
			</div>
		</div>
	</div>

	<!--自提点模板-->
	<script type="text/html" id="takeselfRowTemplate">

	<div class="radio">
		<label>
			<input type='radio' value='<%=JSON().stringify(item)%>' name='takeselfItem' />

			<p><%=item['address']%></p>
			<p class="text-muted f-12">
				<%if(item['phone']){%>
				<span class="text-muted">电话：<%=item['phone']%></span>
				<%}%>

				<%if(item['mobile']){%>
				<span class="text-muted">，手机：<%=item['mobile']%></span>
				<%}%>
			</p>
		</label>
	</div>
	</script>
</body>

<script type='text/javascript'>
//获取数据
function getData(typeVal)
{
	var selectedVal = $('[name="'+typeVal+'"] option:selected').val();
	$.getJSON("{url:/block/getTakeselfList}",{"id":selectedVal,"type":typeVal},function(jsonData)
	{
		switch(typeVal)
		{
			case "province":
			{
				$('[name="city"] option:gt(0)').remove();
				for(var index in jsonData)
				{
					var item = jsonData[index];
					$('[name="city"]').append('<option value="'+item['city']+'">'+item['city_str']+'</option>');
				}
			}
			break;

			case "city":
			{
				$('[name="area"] option:gt(0)').remove();
				for(var index in jsonData)
				{
					var item = jsonData[index];
					$('[name="area"]').append('<option value="'+item['area']+'">'+item['area_str']+'</option>');
				}
			}
			break;

			case "area":
			{
				$('#takeselfBox').empty();
				$('#takeselfBox').html('<p class="text-muted">选择自提点</p><div class="well well-sm mb-0"></div>');
				for(var index in jsonData)
				{
					var item = jsonData[index];
					var takeselfHtml = template.render('takeselfRowTemplate',{"item":item});
					$('#takeselfBox .well').append(takeselfHtml);
				}
			}
			break;
		}
	});
}
</script>
</html>