<div class="u-section-right bg-white m-b-20 pull-left">
    <div class="p-30">
        
        <ul class="nav nav-tabs ucenter-tabs">
            <li class="active">密码管理</li>
        </ul>

        <div class="clearfix m-b-40">
            <h5 class="m-b-20">修改密码</h5>
            <form action='{url:/ucenter/password_edit}' method='post'>
                <ul class="info-form form-content">
                    <li class="clearfix">
                        <div class="info-label pull-left text-right"><span class="color-orange f-w-b">* </span>原有密码</div>
                        <div class="info-input pull-left">
                            <div class="form-item clearfix">
                                <div class="form-item-right">
                                    <input type='password' class="info-text" name="fpassword" pattern='required' alt='请输入原有密码' placeholder="输入原密码">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="info-label pull-left text-right"><span class="color-orange f-w-b">* </span>你想要的新密码</div>
                        <div class="info-input pull-left">
                            <div class="form-item clearfix">
                                <div class="form-item-right">
                                    <input type='password' class="info-text" name="password" pattern='^\w{6,32}$' alt='密码由英文字母、数字或符号组成，长度6-32位' placeholder="密码由英文字母、数字组成，长度6-32位">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="info-label pull-left text-right"><span class="color-orange f-w-b">* </span>请再次输入新密码</div>
                        <div class="info-input pull-left">
                            <div class="form-item clearfix">
                                <div class="form-item-right">
                                    <input type='password' class="info-text" name="repassword" pattern='^\w{6,32}$' alt='密码由英文字母、数字或符号组成，长度6-32位' bind='password' placeholder="密码由英文字母、数字组成，长度6-32位">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="info-label pull-left text-right"></div>
                        <div class="info-input pull-left">
                            <button type="submit" class='btn btn-warning'>修改密码</button>
                            <button type="reset" class='btn btn-gray m-l-15'>重置</button>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>