<div class="bg-white p-10">
    <div class="info-head mb-10"><span>重设密码</span></div>

    <div class="alert alert-danger p-10 mb-10" role="alert">请重新设定您的密码，并妥善保存</div>

    <form action="{$this->formAction}" method="post">
        <ul>
            <li class="mb-10">
                <div class="input-group input-style">
                    <div class="input-group-addon"><span>设置新密码</span></div>
                    <input type='password' class="form-control" name="password" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' placeholder="输入你想要的新密码" />
                </div>
            </li>

            <li class="mb-10">
                <div class="input-group input-style">
                    <div class="input-group-addon"><span>重复新密码</span></div>
                    <input type='password' class="form-control"name="repassword" pattern='^\w{6,32}$' bind='password' alt='两次密码不相同'  placeholder="再次输入上面的密码"/>
                </div>
            </li>


            <li class="text-right">
                <button type="submit" class='btn btn-no-shadow'>确认修改</button>
                <button type="reset" class='btn btn-default btn-no-shadow'>重置</button>
            </li>
        </ul>
    </form>

</div>