<div class="container-fluid ov-h">
	<!--分类信息 开始-->
	<div class="row sitemap mt-6">
		<div class="col-xs-3 p-0">
			<ul class="nav nav-pills nav-stacked font-sm bg-white" role="tablist">
				{foreach:items=Api::run('getCategoryListTop')  item=$first key=$_index1 }
					<li role="presentation" {if:$_index1==0}class="active"{/if}>
						<a href="#tab_{$_index1}" id="tab-{$_index1}" role="tab" data-toggle="tab" aria-controls="tab_{$_index1}" aria-expanded="true">
							{$first['name']}
						</a>
					</li>
				{/foreach}
			</ul>
		</div>
		<div class="col-xs-9">
			<div class="tab-content font-df">
				{foreach:items=Api::run('getCategoryListTop')  item=$first key=$_index1 }
					<div role="tabpanel" class="tab-pane fade {if:$_index1==0}in active{/if}" id="tab_{$_index1}" aria-labelledby="tab-{$_index1}">
						{foreach:items=Api::run('getCategoryByParentid',$first['id'])  item=$second}
							<div class="bg-white second-menu mb-6 font-sm">
								<h3 class="text-center mb-15"><a href="{url:/site/pro_list/cat/$second['id']}"><strong>{$second['name']}</strong></a></h3>
								<ul class="list-inline">
									{foreach:items=Api::run('getCategoryByParentid',$second['id'])  item=$third}
										<li>
											<a href="{url:/site/pro_list/cat/$third['id']}">{$third['name']}</a>
										</li>
									{/foreach}
								</ul>
							</div>
						{/foreach}
					</div>
				{/foreach}
			</div>
		</div>
	</div>
</div>

<!--分类信息 结束-->
<SCRIPT TYPE="text/javascript">
	$(function()
{		
	$("#kros_d").css({ color: "#ff0011" });
})
</SCRIPT>