<div class="wrapper clearfix">
	<div class="wrap_box">

		<div id="fp_form">
			<h3 class="notice">忘记密码</h3>
			<p class="tips">欢迎来到我们的网站，如果忘记密码，请填写下面表单来重新获取密码</p>
			<div class="box">
			<form action="{url:/simple/find_password_mobile}" method="post" id="mobileWay">
				<table class="form_table">
					<col width="300px" />
					<col />
					<tr>
						<th>手机号：</th>
						<td>
							<input type="hidden" name="mobile" value="{echo: base64_decode($_GET['mobile']);}">
							<input name="mobile_show" class="gray" type="text" disabled="disabled" value="{echo: base64_decode($_GET['mobile']);}" />
						</td>
						<td><span id="send_message_link"><a href="javascript:sendMessage();" class="link">发送手机验证码</a></span></td>
					</tr>
					<tr><th>短信验证码：</th><td><input name="mobile_code" class="gray_s" type="text" pattern='^\d{6}$' alt="请输入6位短信验证码" /><br /></td></tr>
					<tr><td></td><td><input class="submit" type="submit" value="找回密码"  /></td></tr>
				</table>
			</form>
			</div>
		</div>
	</div>
</div>

<script language="javascript">

$(document).ready(function(){
	sendMessage();
});

//倒数显示
function countSecond()
{
	var seconds = parseInt($('#seconds').text());
	if (seconds > 0)
	{
		$('#seconds').text(--seconds);
		//继续倒数
		setTimeout('countSecond()', 1000);
	}
	else
	{
		//倒数完成
		$('#send_message_link').removeClass('light_gray').html('<a href="javascript:sendMessage();" class="link">再次发送验证码</a>');
	}
}

//发送短信码
function sendMessage()
{
	//样式调整 隐藏发送链接
	$('#send_message_link').addClass('light_gray').html('<em id="seconds">120</em>秒后可重新发送');
	//倒数
	countSecond();

	var mobile = $('#mobileWay [name="mobile"]').val();
	$.get("{url:/simple/send_message_mobile}",{"mobile":mobile},function(content){
		switch(content)
		{
			case 'success':
				alert('发送成功，请查看您的手机');
				break;
			case 'notfound':
				alert('此手机号不存在，请返回重试');
				window.location.href = '/simple/find_password';
				break;
			case 'fail':
				alert('手机号找回密码方式已关闭，请通过其他方式或联系客服找回');
				window.location.href = '/simple/find_password';
				break;
			case 'tooshort':
				alert('发送短信验证码间隔过短，请稍后重试');
				break;
		}
	});
}
</script>
