<div class="wrapper clearfix">
	<div class="wrap_box">

		<div id="fp_form">
			<h3 class="notice">忘记密码</h3>
			<p class="tips">欢迎来到我们的网站，如果忘记密码，请填写下面表单来重新获取密码</p>
			<div class="box">
				<form action="{url:/simple/find_password_email_or_mobi}" method="post" id="mailWay">
					<table class="form_table">
						<col width="300px" />
						<col />
						<!--dyg_jzw 20150812 邮箱/手机号找回密码-->
						<tr><th>邮箱/手机号：</th><td><input name="email" class="gray" type="text" pattern="required" alt="请输入正确的邮件地址或手机号码" /></td></tr>
						<tr><th>验证码：</th><td><input type='text' class='gray_s' name='captcha' pattern='^\w{5,10}$' alt='填写下面图片所示的字符' /><label>填写下面图片所示的字符</label></td></tr>
						<tr class="low"><th></th><td><img src='{url:/simple/getCaptcha}' id='captchaImg' /><span class="light_gray">看不清？<a class="link" href="javascript:changeCaptcha('{url:/simple/getCaptcha}');">换一张</a></span></td></tr>

						<tr><td></td><td><input class="submit" type="submit" value="找回密码" /></td></tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
