<div class="wrapper clearfix">
	<div class="wrap_box">

		<div id="fp_form">
			<h3 class="notice">重设密码</h3>
			<p class="tips">请重新设定您的密码，并妥善保存</p>
			<div class="box">
			<form action="{$this->formAction}" method="post">
				<table class="form_table">
					<col width="300px" />
					<col />
					<tr>
						<th><span class="red">*</span>你想要的新密码：</th><td><input type='password' class="normal" name="password" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' /><label>密码由英文字母、数字组成，长度6-32位</label></td>
					</tr>
					<tr>
						<th><span class="red">*</span>请再次输入新密码：</th><td><input type='password' class="normal" name="repassword" pattern='^\w{6,32}$' alt='密码由英文字母、数字组成，长度6-32位' bind='password' /><label>密码由英文字母、数字组成，长度6-32位</label></td>
					</tr>
					<tr>
						<td></td>
						<td>
							<label class="btn_gray"><input type="submit" value="修改密码" /></label>
							&nbsp;&nbsp;
							<label class="btn_gray"><input type="reset" value="取消" /></label>
						</td>
					</tr>
				</table>
			</form>
			</div>
		</div>
	</div>
</div>
