<div class="body-contain bg-gray ov-hidden">
    <div class="w1230 margin-0-auto">
        <!--position-->
        <ol class="breadcrumb f-12">
            <li><a href='{url:}'>首页</a></li>
            <li class="active">找回密码</li>
        </ol>
        <!--position-->
    </div>

    <div class="w800 margin-0-auto m-t-60 m-b-60 ov-hidden bg-white">
        <div class="p-30">
            <h3 class="m-t-0 m-b-40 text-center text-center">找回密码</h3>
            <form action="{url:/simple/find_password_email_or_mobi}" method="post">
                <ul class="info-form form-content">
                    <li class="clearfix">
                        <div class="info-label pull-left text-right"><span class="color-orange f-w-b">* </span>邮箱/手机号</div>
                        <div class="info-input pull-left">
                            <div class="form-item clearfix">
                                <div class="form-item-right">
                                    <input name="email" class="info-text" type="text" pattern="required" alt="请输入邮件地址或手机号码">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="clearfix">
                        <div class="info-label pull-left text-right"><span class="color-orange f-w-b">* </span>验证码</div>
                        <div class="info-input pull-left small-input">
                            <div class="form-item clearfix">
                                <div class="form-item-right">
                                    <input type='text' class='info-text pull-left' name='captcha' pattern='^\w{5,10}$' alt='填写右侧图片的字符' placeholder="填写右侧图片的字符">
                                </div>
                            </div>
                        </div>
                        <div class="pull-left">
                            <img src='{url:/site/getCaptcha}' id='captchaImg' /><span class="text-muted">看不清？</span> <a href="javascript:;" onclick="changeCaptcha();">换一张</a>
                        </div>
                    </li>

                    <li class="clearfix m-t-40">
                        <div class="text-center">
                            <a href="{url:/}" class="btn btn-gray m-r-30">返回首页</a>
                            <button type="submit" class='btn btn-warning'>找回密码</button>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>