<div class="body-contain bg-gray ov-hidden">
    <div class="w1230 margin-0-auto">
        <!--position-->
        <ol class="breadcrumb f-12">
            <li><a href='{url:}'>首页</a></li>
            <li class="active">找回密码</li>
        </ol>
        <!--position-->
    </div>

    <div class="w600 margin-0-auto m-t-60 m-b-60 ov-hidden bg-white">
        <div class="p-30">
            <h3 class="m-t-0 m-b-40 text-center text-center">找回密码</h3>
            <form action="{url:/simple/find_password_mobile}" method="post" id="mobileWay">
                <ul class="info-form form-content">
                    <li class="clearfix">
                        <div class="info-label pull-left text-right">手机号</div>
                        <div class="info-input pull-left small-input">
                            <div class="form-item clearfix">
                                <div class="form-item-right pull-left">
                                    <input type="hidden" name="mobile" value="{echo: base64_decode($_GET['mobile']);}">
                                    <input name="mobile_show" class="info-text" type="text" disabled="disabled" value="{echo: base64_decode($_GET['mobile']);}">
                                </div>
                            </div>
                        </div>
                        <div class="pull-left m-l-15 m-t-10"><span id="send_message_link"><a class="btn btn-warning btn-sm" href="javascript:sendMessage();">发送手机验证码</a></span></div>
                    </li>

                    <li class="clearfix">
                        <div class="info-label pull-left text-right">短信验证码</div>
                        <div class="info-input pull-left small-input">
                            <div class="form-item clearfix">
                                <div class="form-item-right pull-left">
                                    <input name="mobile_code" class="info-text" type="text" pattern='^\d{6}$' alt="请输入6位短信验证码">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="clearfix">
                        <div class="m-t-20 text-center">
                            <a href="{url:/simple/find_password}" class='btn btn-gray m-r-30'>返回上一步</a>
                            <button type="submit" class='btn btn-warning'>确认提交</button>
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<script language="javascript">

    $(document).ready(function(){
        sendMessage();
    });

    //倒数显示
    function countSecond()
    {
        var seconds = parseInt($('#seconds').text());
        if (seconds > 0)
        {
            $('#seconds').text(--seconds);
            //继续倒数
            setTimeout('countSecond()', 1000);
        }
        else
        {
            //倒数完成
            $('#send_message_link').removeClass('text-muted').html('<a class="btn btn-warning btn-sm" href="javascript:sendMessage();">再次发送验证码</a>');
        }
    }

    //发送短信码
    function sendMessage()
    {
        //样式调整 隐藏发送链接
        $('#send_message_link').addClass('text-muted').html('<em id="seconds" class="f-12">120</em>秒后可重新发送');
        //倒数
        countSecond();

        var mobile = $('#mobileWay [name="mobile"]').val();
        $.get("{url:/simple/send_message_mobile}",{"mobile":mobile},function(content){
            switch(content)
            {
                case 'success':
                    alert('发送成功，请查看手机上收到的验证码');
                    break;
                case 'notfound':
                    alert('此手机号不存在，请返回重试');
                    window.location.href = "{url:/simple/find_password}";
                    break;
                case 'fail':
                    alert('手机号找回密码方式已关闭，请通过其他方式或联系客服找回');
                    window.location.href = "{url:/simple/find_password}";
                    break;
                case 'tooshort':
                    alert('发送短信验证码间隔过短，请稍后重试');
                    break;
            }
        });
    }
</script>