<div class="body-contain bg-gray ov-hidden">
    <div class="w1230 margin-0-auto">
        <!--position-->
        <ol class="breadcrumb f-12">
            <li><a href='{url:}'>首页</a></li>
            <li><a href="{url:/simple/find_password}">找回密码</a></li>
            <li class="active">重设密码</li>
        </ol>
        <!--position-->
    </div>

    <div class="w600 margin-0-auto m-t-60 m-b-60 ov-hidden bg-white">
        <div class="p-30">
            <h3 class="m-t-0 m-b-40 text-center text-center">重新设定密码</h3>
            <form action="{$this->formAction}" method="post">
                <ul class="info-form form-content">
                    <li class="clearfix">
                        <div class="info-label pull-left text-right"><span class="color-orange f-w-b">* </span>设定新密码</div>
                        <div class="info-input pull-left medium-input">
                            <div class="form-item clearfix">
                                <div class="form-item-right">
                                    <input class="info-text" type='password' name="password" pattern='^\w{6,32}$' alt='只允许英文大小写字母和数字，长度6-32位' placeholder="英文大小写字母和数字组合6-32位">
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="clearfix">
                        <div class="info-label pull-left text-right"><span class="color-orange f-w-b">* </span>再次输入新密码</div>
                        <div class="info-input pull-left medium-input">
                            <div class="form-item clearfix">
                                <div class="form-item-right">
                                    <input type='password' class="info-text" name="repassword" pattern='^\w{6,32}$' alt='只允许英文大小写字母和数字，长度6-32位' bind='password' placeholder="再次输入新密码">
                                </div>
                            </div>
                        </div>
                    </li>


                    <li class="clearfix">
                        <div class="text-center m-t-20">
                            <a href="{url:}" class='btn btn-gray m-r-30'>取消</a>
                            <button type="submit" class='btn  btn-warning ' >修改密码</button>      
                        </div>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>